html
{
	background-color: #FFF5EE;
}
input
{
	background-color: #3CBC8D;
    color: green;
    border-color: solid 0.5px black;	
    border-radius: 4px;
}
canvas 
{
	margin-top:20px;
}
p.alerte
{
	color: red;
	font-family: 'El Messiri', sans-serif;
}
p.equation
{
	font-family: none;
}
ul
{
	list-style: none;
	text-align: left;
	width: 35%;
}
li
{
	font-family: 'El Messiri', sans-serif;
	font-weight: bolder;
	font-size: 20px;
}
h2
{
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 300%;
}
input
{
	background-color:white;
}
.zbarre:first-letter {
    text-decoration: overline;
}